body{
background-color: #ffffff;
}
.imagicon img{
    width: 31px;
    height: 27px;
}
.firstdiv{
    display: flex;
    margin-left: 1%;
}
.text1{
padding: -8px;
padding-top: -9px;
display: flex;
flex-direction: column;
gap: -10%;

}
.navbar a{
    text-decoration: none;
}
.firstdiv h2{
    color: #d78800;
    margin-right: 0px;
    padding-top: 0%;
}
.container{
    display: flex;
}
.navbar{
    width: 260px;
    background-color: #ffffff;
     border-right: 2px solid #D7C3AE;
}
.deuxiéme{
    display: flex;
    justify-content: space-between;
}
.deuxiéme4 img{
    width: 31px;
height: 27px;
}
.firstconatain{
    display: flex;
    border-bottom: 2px solid #835500;
    width: 55em;
}

.element1 {
    padding-bottom: 10px;
}
.seconddiv{
    display: flex;
    background-color: #e1dcdc;
    border-top-left-radius: 10px;
    border-left: 4px solid #835500;
    cursor: pointer;
}
.seconddiv p{
    color: #835500;
}
.seconddiv i{
    padding-top: 16px;
    margin-left: 5px;
    color: #835500;
}
.element1{
    margin-left: 5px;
}
.thirtdiv{
    display: flex;
    cursor: pointer;
}

.thirtdiv i{
    padding-top: 16px;
     margin-left: 15px;
     color: #524534;
}
.thirtdiv P{
    margin-left: 10px;
    color: #524534;
}
.fourdiv{
    display: flex;
    cursor: pointer;
}
.fourdiv i{
    padding-top: 16px;
     margin-left: 15px;
     color: #524534;
}
.fourdiv p{
    margin-left: 10px;
    color: #524534;
}
.deconection{
    background-color: #ffffff;
    width: 220px;
    display: flex;
    position: relative;
    bottom: 50px;
}
.deconection button{
    padding-left: 14px;
    background-color: #ffffff;
    border: none;
}
.deconection  i{
      padding-left: 54px;
}